# URL de l'API backend
VITE_API_URL=http://localhost:5000/api

# URL WebSocket (Socket.io)
VITE_SOCKET_URL=http://localhost:5000

# Nom de l'application
VITE_APP_NAME=Tropical Medical

# Environnement
VITE_APP_ENV=development
